.cover-wrapper {
    display: flex;
    overflow-x: scroll;
    max-width: 90%;
    margin: 0 auto;
}

.playlist {
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.playlist:hover {
    background: #202428;
}

.cover {
    max-width: 150px;
}