.cover-wrapper {
    display: flex;
    overflow-x: scroll;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.cover-wrapper::-webkit-scrollbar {
    height: 7px;
}

.cover-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(222, 222, 222, 0.3);
    border-radius: 10px;
}

.cover-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(222, 222, 222, 0.3);
}

.playlist {
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.playlist:hover {
    background: #202428;
}

.cover {
    max-width: 150px;
}